In [1]:
#Importando pacotes
import pandas as pd

In [2]:
txt = open("extrato (1).rtf",newline = '\r').read()

In [3]:
txt

'------------------------------------------------\n                     SICOOB                     \n  SISTEMA DE COOPERATIVAS DE CRÉDITO DO BRASIL  \n    SISBR - SISTEMA DE INFORMÁTICA DO SICOOB    \n                                                \n18/03/2020           EXTRATO            11:50:55\n                 CONTA CORRENTE                 \n                                                \nCOOP.: 4406-7 / SICOOB CREDICOR/SP              \nCONTA: 2.088-5 / OMENA CORRETORA DE SEGUROS E CO\n------------------------------------------------\nDATA DOC.   HISTÓRICO                     VALOR \n28/02/2020  SALDO ANTERIOR             8.224,11C\n28/02/2020  SALDO BLOQ.ANTERIOR            0,00*\n0203 922191 DEB.EMI.TED DIF.TIT        1.762,92D\n     Arthur omena Ribeiro                       \n     Lucros e dividendos                        \n0203 922194 DEB.EMI.TED DIF.TIT        1.762,92D\n     Bruno Omena Ribeiro                        \n     Lucros e dividendos                        \n0203 1423507CRÉD.TED-STR                 221,26C\n     TOKIO MARINE SEGURADORA S A                \n     33.164.021 0001-00                         \n     CODIGO TED: T503037761                     \n0203 1424042CRÉD.TED-STR                 219,08C\n     LIBERTY SEGUROS S.A.                       \n     61.550.141 0001-72                         \n     CODIGO TED: T503146050                     \n0203 922860 DÉB.CONV.TELECOMUN.          144,49D\n     Internet                                   \n     Internet                                   \n0203 922868 DEB.EMI.TED DIF.TIT           35,20D\n     Arthur omena Ribeiro                       \n     Transporte Arthur                          \n0203 1424348CRÉD.TED-STR                 392,42C\n     MAPFRE SEGUROS GERAIS S.A.                 \n     61.074.175 0001-38                         \n     CODIGO TED: T503208153                     \n     PAGAMENTOS DIVERSOS                        \n0203 188    TED INTERNET                  18,00D\n            SALDO DO DIA =====>        5.333,34C\n0303 1425231CRÉD.TED-STR                 172,90C\n     TOKIO MARINE SEGURADORA S A                \n     33.164.021 0001-00                         \n     CODIGO TED: T503383511                     \n0303 1425545CRÉD.TED-STR                 261,89C\n     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   \n     33.041.062 0001-09                         \n     CODIGO TED: T503454421                     \n     TRANSFERENCIA ENTRE CONTAS                 \n0303 1425680CRÉD.TED-STR                 221,24C\n     LIBERTY SEGUROS S.A.                       \n     61.550.141 0001-72                         \n     CODIGO TED: T503485374                     \n0303 1425737CRÉD.TED-STR               1.296,13C\n     AZUL COMPANHIA DE SEGUROS GERAIS           \n     33.448.150 0001-11                         \n     CODIGO TED: T503497182                     \n0303 1426058CRÉD.TED-STR                 391,26C\n     BRADESCO AUTO RE CIA    SEGUROS            \n     92.682.038 0001-00                         \n     CODIGO TED: T503565658                     \n            SALDO DO DIA =====>        7.676,76C\n0403 955428 COMP MASTER MAESTRO           39,00D\n     GIVALDO MANOEL DE ARAU Sao Paulo BRA       \n0403 1427155CRÉD.TED-STR               1.301,31C\n     AZUL COMPANHIA DE SEGUROS GERAIS           \n     33.448.150 0001-11                         \n     CODIGO TED: T503809703                     \n            SALDO DO DIA =====>        8.939,07C\n0503 925190 DÉB.CONV.TELECOMUN.           66,39D\n     Claro                                      \n     Claro                                      \n0503 925192 DÉB.CONV.TELECOMUN.           64,99D\n     Claro                                      \n     Claro                                      \n0503 925193 DÉB.CONV.TELECOMUN.           66,39D\n     Claro                                      \n     Claro                                      \n0503 1428495CRÉD.TED-STR                 180,80C\n     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   \n     33.041.062 0001-09                         \n     CODIGO TED: T504124644                     \n     TRANSFERENCIA ENTRE CONTAS                 \n0503 1428655CRÉD.TED-STR                 275,18C\n     LIBERTY SEGUROS S.A.                       \n     61.550.141 0001-72                         \n     CODIGO TED: T504158659                     \n0503 1428821CRÉD.TED-STR                 718,49C\n     SUHAI SEGURADORA S A                       \n     16.825.255 0001-23                         \n     CODIGO TED: T504195628                     \n0503 1429311CRÉD.TED-STR                  86,24C\n     PORTO SEGURO CIA SEG GERAIS                \n     61.198.164 0001-60                         \n     CODIGO TED: T504309127                     \n0503 925906 DÉB.TIT.COMPE.EFETI          500,00D\n     Fechamento empresa                         \n            SALDO DO DIA =====>        9.502,01C\n0603 1430348CRÉD.TED-STR                 441,81C\n     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   \n     33.041.062 0001-09                         \n     CODIGO TED: T504575894                     \n     TRANSFERENCIA ENTRE CONTAS                 \n0603 1430668CRÉD.TED-STR                  77,07C\n     PORTO SEGURO CIA SEG GERAIS                \n     61.198.164 0001-60                         \n     CODIGO TED: T504661462                     \n            SALDO DO DIA =====>       10.020,89C\n0903 1432544CRÉD.TED-STR                 404,96C\n     AZUL COMPANHIA DE SEGUROS GERAIS           \n     33.448.150 0001-11                         \n     CODIGO TED: T505099257                     \n0903 2079   DEB.PARC.SUBS/INTEG           10,00D\n            SALDO DO DIA =====>       10.415,85C\n1003 1434217CRÉD.TED-STR                 108,35C\n     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   \n     33.041.062 0001-09                         \n     CODIGO TED: T505459363                     \n     TRANSFERENCIA ENTRE CONTAS                 \n1003 929404 DÉB.CONV.PREFEITURA            5,67D\n     Iss                                        \n     Iss                                        \n1003 929406 DÉB.TIT.COMPE.EFETI          260,00D\n     Contador                                   \n1003 929893 DÉB.TIT.COMPE.EFETI          264,65D\n     Alarme                                     \n            SALDO DO DIA =====>        9.993,88C\n1103 1435562CRÉD.TED-STR                 135,65C\n     TOKIO MARINE SEGURADORA S A                \n     33.164.021 0001-00                         \n     CODIGO TED: T505748685                     \n1103 1435968CRÉD.TED-STR                 217,81C\n     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   \n     33.041.062 0001-09                         \n     CODIGO TED: T505833955                     \n     TRANSFERENCIA ENTRE CONTAS                 \n1103 1436074CRÉD.TED-STR                 127,94C\n     LIBERTY SEGUROS S.A.                       \n     61.550.141 0001-72                         \n     CODIGO TED: T505857028                     \n            SALDO DO DIA =====>       10.475,28C\n1203 1436985CRÉD.TED-STR                 325,05C\n     PORTO SEGURO CIA SEG GERAIS                \n     61.198.164 0001-60                         \n     CODIGO TED: T506053801                     \n1203 1438015CRÉD.TED-STR               1.306,52C\n     SUHAI SEGURADORA S A                       \n     16.825.255 0001-23                         \n     CODIGO TED: T506273874                     \n1203 931612 DEB.EMI.TED DIF.TIT        1.115,40D\n     Arthur omena Ribeiro                       \n     Pro labore + transporte                    \n1203 188    TED INTERNET                   6,00D\n            SALDO DO DIA =====>       10.985,45C\n1303 1438120CRÉD.TED-STR                 128,44C\n     PORTO SEGURO CIA SEG GERAIS                \n     61.198.164 0001-60                         \n     CODIGO TED: T506301763                     \n1303 931961 DÉB.CNV.EN.ELET.GAS          271,97D\n     Luz                                        \n     Luz                                        \n1303 932082 DÉB.TIT.COMPE.EFETI           98,55D\n     Rc                                         \n1303 932085 DEB.TR.CT.DIF.TIT.         1.045,00D\n     FAV.: ERALDO OMENA RIBEIRO                 \n     Prolabore                                  \n1303 932088 DEB.EMI.TED DIF.TIT        1.045,00D\n     Bruno Omena Ribeiro                        \n     Prolabore                                  \n1303 1438953CRÉD.TED-STR                 152,16C\n     LIBERTY SEGUROS S.A.                       \n     61.550.141 0001-72                         \n     CODIGO TED: T506465431                     \n1303 188    TED INTERNET                   6,00D\n            SALDO DO DIA =====>        8.799,53C\n1603 1439682CRÉD.TED-STR                  75,36C\n     PORTO SEGURO CIA SEG GERAIS                \n     61.198.164 0001-60                         \n     CODIGO TED: T506642399                     \n1603 933047 DÉB.TIT.COMPE.EFETI          927,49D\n     Intermedica                                \n1603 1440863CRÉD.TED-STR                 374,72C\n     AZUL COMPANHIA DE SEGUROS GERAIS           \n     33.448.150 0001-11                         \n     CODIGO TED: T506873919                     \n1603 011458 CRED.DOC                   1.275,00C\n     REM.: PORTO SEGURO LOCADORA DE VEICU       \n            SALDO DO DIA =====>        9.597,12C\n1703 1442021CRÉD.TED-STR                 395,91C\n     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   \n     33.041.062 0001-09                         \n     CODIGO TED: T507119034                     \n     TRANSFERENCIA ENTRE CONTAS                 \n1703 558724 COMP MASTER MAESTRO           13,00D\n     GIVALDO MANOEL DE ARAU Sao Paulo BRA       \n            SALDO DO DIA =====>        9.980,03C\n1803 1443275CRÉD.TED-STR                 779,25C\n     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   \n     33.041.062 0001-09                         \n     CODIGO TED: T507384257                     \n     TRANSFERENCIA ENTRE CONTAS                 \n            SALDO DO DIA =====>       10.759,28C\n-------------------- RESUMO --------------------\nSALDO EM C.CORRENTE....(+):           10.759,28C\nSALDO EM C.INVESTIMENTO(+):                0,00C\nLIMITE CONTA GARANTIDA.(+):                0,00C\nSALDO DISPONÍVEL.......(=):           10.759,28C\nSALDO BLOQ.C.CORRENTE.....:                0,00*\nSALDO BLOQ.C.INVESTIMENTO.:                0,00*\nVENCTO CONTA GARANTIDA....:                     \nTAXA CONTA GARANTIDA(a.m.):                4,50%\nPREVISÃO CPMF.............:                0,00D\nPREVISÃO IOF..............:                0,00D\nPREVISÃO ENCARGOS.........:                0,00D\nPREVISÃO TARIFAS..........:                0,00D\n------- SALDO DE APLICAÇÕES EM 17/03/2020-------\nRDC - Longo CDI                       30.083,77C\n----- 000 EXTRATOS EMITIDOS ATÉ 16/03/2020 -----\nOUVIDORIA SICOOB: 08007250996                   \n'

In [4]:
#Formatando as linhas
txt = (txt.split(sep = '\n'))

In [5]:
txt

['------------------------------------------------',
 '                     SICOOB                     ',
 '  SISTEMA DE COOPERATIVAS DE CRÉDITO DO BRASIL  ',
 '    SISBR - SISTEMA DE INFORMÁTICA DO SICOOB    ',
 '                                                ',
 '18/03/2020           EXTRATO            11:50:55',
 '                 CONTA CORRENTE                 ',
 '                                                ',
 'COOP.: 4406-7 / SICOOB CREDICOR/SP              ',
 'CONTA: 2.088-5 / OMENA CORRETORA DE SEGUROS E CO',
 '------------------------------------------------',
 'DATA DOC.   HISTÓRICO                     VALOR ',
 '28/02/2020  SALDO ANTERIOR             8.224,11C',
 '28/02/2020  SALDO BLOQ.ANTERIOR            0,00*',
 '0203 922191 DEB.EMI.TED DIF.TIT        1.762,92D',
 '     Arthur omena Ribeiro                       ',
 '     Lucros e dividendos                        ',
 '0203 922194 DEB.EMI.TED DIF.TIT        1.762,92D',
 '     Bruno Omena Ribeiro                        ',
 '     Lucros e dividendos                        ',
 '0203 1423507CRÉD.TED-STR                 221,26C',
 '     TOKIO MARINE SEGURADORA S A                ',
 '     33.164.021 0001-00                         ',
 '     CODIGO TED: T503037761                     ',
 '0203 1424042CRÉD.TED-STR                 219,08C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T503146050                     ',
 '0203 922860 DÉB.CONV.TELECOMUN.          144,49D',
 '     Internet                                   ',
 '     Internet                                   ',
 '0203 922868 DEB.EMI.TED DIF.TIT           35,20D',
 '     Arthur omena Ribeiro                       ',
 '     Transporte Arthur                          ',
 '0203 1424348CRÉD.TED-STR                 392,42C',
 '     MAPFRE SEGUROS GERAIS S.A.                 ',
 '     61.074.175 0001-38                         ',
 '     CODIGO TED: T503208153                     ',
 '     PAGAMENTOS DIVERSOS                        ',
 '0203 188    TED INTERNET                  18,00D',
 '            SALDO DO DIA =====>        5.333,34C',
 '0303 1425231CRÉD.TED-STR                 172,90C',
 '     TOKIO MARINE SEGURADORA S A                ',
 '     33.164.021 0001-00                         ',
 '     CODIGO TED: T503383511                     ',
 '0303 1425545CRÉD.TED-STR                 261,89C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T503454421                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '0303 1425680CRÉD.TED-STR                 221,24C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T503485374                     ',
 '0303 1425737CRÉD.TED-STR               1.296,13C',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     33.448.150 0001-11                         ',
 '     CODIGO TED: T503497182                     ',
 '0303 1426058CRÉD.TED-STR                 391,26C',
 '     BRADESCO AUTO RE CIA    SEGUROS            ',
 '     92.682.038 0001-00                         ',
 '     CODIGO TED: T503565658                     ',
 '            SALDO DO DIA =====>        7.676,76C',
 '0403 955428 COMP MASTER MAESTRO           39,00D',
 '     GIVALDO MANOEL DE ARAU Sao Paulo BRA       ',
 '0403 1427155CRÉD.TED-STR               1.301,31C',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     33.448.150 0001-11                         ',
 '     CODIGO TED: T503809703                     ',
 '            SALDO DO DIA =====>        8.939,07C',
 '0503 925190 DÉB.CONV.TELECOMUN.           66,39D',
 '     Claro                                      ',
 '     Claro                                      ',
 '0503 925192 DÉB.CONV.TELECOMUN.           64,99D',
 '     Claro                                      ',
 '     Claro                                      ',
 '0503 925193 DÉB.CONV.TELECOMUN.           66,39D',
 '     Claro                                      ',
 '     Claro                                      ',
 '0503 1428495CRÉD.TED-STR                 180,80C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T504124644                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '0503 1428655CRÉD.TED-STR                 275,18C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T504158659                     ',
 '0503 1428821CRÉD.TED-STR                 718,49C',
 '     SUHAI SEGURADORA S A                       ',
 '     16.825.255 0001-23                         ',
 '     CODIGO TED: T504195628                     ',
 '0503 1429311CRÉD.TED-STR                  86,24C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T504309127                     ',
 '0503 925906 DÉB.TIT.COMPE.EFETI          500,00D',
 '     Fechamento empresa                         ',
 '            SALDO DO DIA =====>        9.502,01C',
 '0603 1430348CRÉD.TED-STR                 441,81C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T504575894                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '0603 1430668CRÉD.TED-STR                  77,07C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T504661462                     ',
 '            SALDO DO DIA =====>       10.020,89C',
 '0903 1432544CRÉD.TED-STR                 404,96C',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     33.448.150 0001-11                         ',
 '     CODIGO TED: T505099257                     ',
 '0903 2079   DEB.PARC.SUBS/INTEG           10,00D',
 '            SALDO DO DIA =====>       10.415,85C',
 '1003 1434217CRÉD.TED-STR                 108,35C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T505459363                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '1003 929404 DÉB.CONV.PREFEITURA            5,67D',
 '     Iss                                        ',
 '     Iss                                        ',
 '1003 929406 DÉB.TIT.COMPE.EFETI          260,00D',
 '     Contador                                   ',
 '1003 929893 DÉB.TIT.COMPE.EFETI          264,65D',
 '     Alarme                                     ',
 '            SALDO DO DIA =====>        9.993,88C',
 '1103 1435562CRÉD.TED-STR                 135,65C',
 '     TOKIO MARINE SEGURADORA S A                ',
 '     33.164.021 0001-00                         ',
 '     CODIGO TED: T505748685                     ',
 '1103 1435968CRÉD.TED-STR                 217,81C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T505833955                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '1103 1436074CRÉD.TED-STR                 127,94C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T505857028                     ',
 '            SALDO DO DIA =====>       10.475,28C',
 '1203 1436985CRÉD.TED-STR                 325,05C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T506053801                     ',
 '1203 1438015CRÉD.TED-STR               1.306,52C',
 '     SUHAI SEGURADORA S A                       ',
 '     16.825.255 0001-23                         ',
 '     CODIGO TED: T506273874                     ',
 '1203 931612 DEB.EMI.TED DIF.TIT        1.115,40D',
 '     Arthur omena Ribeiro                       ',
 '     Pro labore + transporte                    ',
 '1203 188    TED INTERNET                   6,00D',
 '            SALDO DO DIA =====>       10.985,45C',
 '1303 1438120CRÉD.TED-STR                 128,44C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T506301763                     ',
 '1303 931961 DÉB.CNV.EN.ELET.GAS          271,97D',
 '     Luz                                        ',
 '     Luz                                        ',
 '1303 932082 DÉB.TIT.COMPE.EFETI           98,55D',
 '     Rc                                         ',
 '1303 932085 DEB.TR.CT.DIF.TIT.         1.045,00D',
 '     FAV.: ERALDO OMENA RIBEIRO                 ',
 '     Prolabore                                  ',
 '1303 932088 DEB.EMI.TED DIF.TIT        1.045,00D',
 '     Bruno Omena Ribeiro                        ',
 '     Prolabore                                  ',
 '1303 1438953CRÉD.TED-STR                 152,16C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T506465431                     ',
 '1303 188    TED INTERNET                   6,00D',
 '            SALDO DO DIA =====>        8.799,53C',
 '1603 1439682CRÉD.TED-STR                  75,36C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T506642399                     ',
 '1603 933047 DÉB.TIT.COMPE.EFETI          927,49D',
 '     Intermedica                                ',
 '1603 1440863CRÉD.TED-STR                 374,72C',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     33.448.150 0001-11                         ',
 '     CODIGO TED: T506873919                     ',
 '1603 011458 CRED.DOC                   1.275,00C',
 '     REM.: PORTO SEGURO LOCADORA DE VEICU       ',
 '            SALDO DO DIA =====>        9.597,12C',
 '1703 1442021CRÉD.TED-STR                 395,91C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T507119034                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '1703 558724 COMP MASTER MAESTRO           13,00D',
 '     GIVALDO MANOEL DE ARAU Sao Paulo BRA       ',
 '            SALDO DO DIA =====>        9.980,03C',
 '1803 1443275CRÉD.TED-STR                 779,25C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T507384257                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '            SALDO DO DIA =====>       10.759,28C',
 '-------------------- RESUMO --------------------',
 'SALDO EM C.CORRENTE....(+):           10.759,28C',
 'SALDO EM C.INVESTIMENTO(+):                0,00C',
 'LIMITE CONTA GARANTIDA.(+):                0,00C',
 'SALDO DISPONÍVEL.......(=):           10.759,28C',
 'SALDO BLOQ.C.CORRENTE.....:                0,00*',
 'SALDO BLOQ.C.INVESTIMENTO.:                0,00*',
 'VENCTO CONTA GARANTIDA....:                     ',
 'TAXA CONTA GARANTIDA(a.m.):                4,50%',
 'PREVISÃO CPMF.............:                0,00D',
 'PREVISÃO IOF..............:                0,00D',
 'PREVISÃO ENCARGOS.........:                0,00D',
 'PREVISÃO TARIFAS..........:                0,00D',
 '------- SALDO DE APLICAÇÕES EM 17/03/2020-------',
 'RDC - Longo CDI                       30.083,77C',
 '----- 000 EXTRATOS EMITIDOS ATÉ 16/03/2020 -----',
 'OUVIDORIA SICOOB: 08007250996                   ',
 '']

In [6]:
#Separando creditos e de qual seguradoras eles pertencem

creditos = []
seguradoras = []
contador = 0
for i in txt:        
    contador += 1
    if i[len(i)-1:] == 'C' and 'SALDO DO DIA' not in i:
        creditos.append(i)
        seguradoras.append(txt[contador])

In [7]:
seguradoras

['28/02/2020  SALDO BLOQ.ANTERIOR            0,00*',
 '     TOKIO MARINE SEGURADORA S A                ',
 '     LIBERTY SEGUROS S.A.                       ',
 '     MAPFRE SEGUROS GERAIS S.A.                 ',
 '     TOKIO MARINE SEGURADORA S A                ',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     LIBERTY SEGUROS S.A.                       ',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     BRADESCO AUTO RE CIA    SEGUROS            ',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     LIBERTY SEGUROS S.A.                       ',
 '     SUHAI SEGURADORA S A                       ',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     TOKIO MARINE SEGURADORA S A                ',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     LIBERTY SEGUROS S.A.                       ',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     SUHAI SEGURADORA S A                       ',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     LIBERTY SEGUROS S.A.                       ',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     REM.: PORTO SEGURO LOCADORA DE VEICU       ',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 'SALDO EM C.INVESTIMENTO(+):                0,00C',
 'LIMITE CONTA GARANTIDA.(+):                0,00C',
 'SALDO DISPONÍVEL.......(=):           10.759,28C',
 'SALDO BLOQ.C.CORRENTE.....:                0,00*',
 '----- 000 EXTRATOS EMITIDOS ATÉ 16/03/2020 -----']

In [8]:
creditos

['28/02/2020  SALDO ANTERIOR             8.224,11C',
 '0203 1423507CRÉD.TED-STR                 221,26C',
 '0203 1424042CRÉD.TED-STR                 219,08C',
 '0203 1424348CRÉD.TED-STR                 392,42C',
 '0303 1425231CRÉD.TED-STR                 172,90C',
 '0303 1425545CRÉD.TED-STR                 261,89C',
 '0303 1425680CRÉD.TED-STR                 221,24C',
 '0303 1425737CRÉD.TED-STR               1.296,13C',
 '0303 1426058CRÉD.TED-STR                 391,26C',
 '0403 1427155CRÉD.TED-STR               1.301,31C',
 '0503 1428495CRÉD.TED-STR                 180,80C',
 '0503 1428655CRÉD.TED-STR                 275,18C',
 '0503 1428821CRÉD.TED-STR                 718,49C',
 '0503 1429311CRÉD.TED-STR                  86,24C',
 '0603 1430348CRÉD.TED-STR                 441,81C',
 '0603 1430668CRÉD.TED-STR                  77,07C',
 '0903 1432544CRÉD.TED-STR                 404,96C',
 '1003 1434217CRÉD.TED-STR                 108,35C',
 '1103 1435562CRÉD.TED-STR                 135,65C',
 '1103 1435968CRÉD.TED-STR                 217,81C',
 '1103 1436074CRÉD.TED-STR                 127,94C',
 '1203 1436985CRÉD.TED-STR                 325,05C',
 '1203 1438015CRÉD.TED-STR               1.306,52C',
 '1303 1438120CRÉD.TED-STR                 128,44C',
 '1303 1438953CRÉD.TED-STR                 152,16C',
 '1603 1439682CRÉD.TED-STR                  75,36C',
 '1603 1440863CRÉD.TED-STR                 374,72C',
 '1603 011458 CRED.DOC                   1.275,00C',
 '1703 1442021CRÉD.TED-STR                 395,91C',
 '1803 1443275CRÉD.TED-STR                 779,25C',
 'SALDO EM C.CORRENTE....(+):           10.759,28C',
 'SALDO EM C.INVESTIMENTO(+):                0,00C',
 'LIMITE CONTA GARANTIDA.(+):                0,00C',
 'SALDO DISPONÍVEL.......(=):           10.759,28C',
 'RDC - Longo CDI                       30.083,77C']

In [9]:
#Separando debitos e suas descrições
debitos = []
descricao_deb = []
contador = 0
for i in txt:
    if i[len(i)-1:] == 'D' and 'SALDO DO DIA' not in txt[contador+1]:
        debitos.append(i)
        descricao_deb.append(txt[contador+1])
    if i[len(i)-1:] == 'D' and 'SALDO DO DIA' in txt[contador+1]:
        debitos.append(i)
        descricao_deb.append('     VAZIO')
    contador += 1

In [10]:
txt

['------------------------------------------------',
 '                     SICOOB                     ',
 '  SISTEMA DE COOPERATIVAS DE CRÉDITO DO BRASIL  ',
 '    SISBR - SISTEMA DE INFORMÁTICA DO SICOOB    ',
 '                                                ',
 '18/03/2020           EXTRATO            11:50:55',
 '                 CONTA CORRENTE                 ',
 '                                                ',
 'COOP.: 4406-7 / SICOOB CREDICOR/SP              ',
 'CONTA: 2.088-5 / OMENA CORRETORA DE SEGUROS E CO',
 '------------------------------------------------',
 'DATA DOC.   HISTÓRICO                     VALOR ',
 '28/02/2020  SALDO ANTERIOR             8.224,11C',
 '28/02/2020  SALDO BLOQ.ANTERIOR            0,00*',
 '0203 922191 DEB.EMI.TED DIF.TIT        1.762,92D',
 '     Arthur omena Ribeiro                       ',
 '     Lucros e dividendos                        ',
 '0203 922194 DEB.EMI.TED DIF.TIT        1.762,92D',
 '     Bruno Omena Ribeiro                        ',
 '     Lucros e dividendos                        ',
 '0203 1423507CRÉD.TED-STR                 221,26C',
 '     TOKIO MARINE SEGURADORA S A                ',
 '     33.164.021 0001-00                         ',
 '     CODIGO TED: T503037761                     ',
 '0203 1424042CRÉD.TED-STR                 219,08C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T503146050                     ',
 '0203 922860 DÉB.CONV.TELECOMUN.          144,49D',
 '     Internet                                   ',
 '     Internet                                   ',
 '0203 922868 DEB.EMI.TED DIF.TIT           35,20D',
 '     Arthur omena Ribeiro                       ',
 '     Transporte Arthur                          ',
 '0203 1424348CRÉD.TED-STR                 392,42C',
 '     MAPFRE SEGUROS GERAIS S.A.                 ',
 '     61.074.175 0001-38                         ',
 '     CODIGO TED: T503208153                     ',
 '     PAGAMENTOS DIVERSOS                        ',
 '0203 188    TED INTERNET                  18,00D',
 '            SALDO DO DIA =====>        5.333,34C',
 '0303 1425231CRÉD.TED-STR                 172,90C',
 '     TOKIO MARINE SEGURADORA S A                ',
 '     33.164.021 0001-00                         ',
 '     CODIGO TED: T503383511                     ',
 '0303 1425545CRÉD.TED-STR                 261,89C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T503454421                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '0303 1425680CRÉD.TED-STR                 221,24C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T503485374                     ',
 '0303 1425737CRÉD.TED-STR               1.296,13C',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     33.448.150 0001-11                         ',
 '     CODIGO TED: T503497182                     ',
 '0303 1426058CRÉD.TED-STR                 391,26C',
 '     BRADESCO AUTO RE CIA    SEGUROS            ',
 '     92.682.038 0001-00                         ',
 '     CODIGO TED: T503565658                     ',
 '            SALDO DO DIA =====>        7.676,76C',
 '0403 955428 COMP MASTER MAESTRO           39,00D',
 '     GIVALDO MANOEL DE ARAU Sao Paulo BRA       ',
 '0403 1427155CRÉD.TED-STR               1.301,31C',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     33.448.150 0001-11                         ',
 '     CODIGO TED: T503809703                     ',
 '            SALDO DO DIA =====>        8.939,07C',
 '0503 925190 DÉB.CONV.TELECOMUN.           66,39D',
 '     Claro                                      ',
 '     Claro                                      ',
 '0503 925192 DÉB.CONV.TELECOMUN.           64,99D',
 '     Claro                                      ',
 '     Claro                                      ',
 '0503 925193 DÉB.CONV.TELECOMUN.           66,39D',
 '     Claro                                      ',
 '     Claro                                      ',
 '0503 1428495CRÉD.TED-STR                 180,80C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T504124644                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '0503 1428655CRÉD.TED-STR                 275,18C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T504158659                     ',
 '0503 1428821CRÉD.TED-STR                 718,49C',
 '     SUHAI SEGURADORA S A                       ',
 '     16.825.255 0001-23                         ',
 '     CODIGO TED: T504195628                     ',
 '0503 1429311CRÉD.TED-STR                  86,24C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T504309127                     ',
 '0503 925906 DÉB.TIT.COMPE.EFETI          500,00D',
 '     Fechamento empresa                         ',
 '            SALDO DO DIA =====>        9.502,01C',
 '0603 1430348CRÉD.TED-STR                 441,81C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T504575894                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '0603 1430668CRÉD.TED-STR                  77,07C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T504661462                     ',
 '            SALDO DO DIA =====>       10.020,89C',
 '0903 1432544CRÉD.TED-STR                 404,96C',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     33.448.150 0001-11                         ',
 '     CODIGO TED: T505099257                     ',
 '0903 2079   DEB.PARC.SUBS/INTEG           10,00D',
 '            SALDO DO DIA =====>       10.415,85C',
 '1003 1434217CRÉD.TED-STR                 108,35C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T505459363                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '1003 929404 DÉB.CONV.PREFEITURA            5,67D',
 '     Iss                                        ',
 '     Iss                                        ',
 '1003 929406 DÉB.TIT.COMPE.EFETI          260,00D',
 '     Contador                                   ',
 '1003 929893 DÉB.TIT.COMPE.EFETI          264,65D',
 '     Alarme                                     ',
 '            SALDO DO DIA =====>        9.993,88C',
 '1103 1435562CRÉD.TED-STR                 135,65C',
 '     TOKIO MARINE SEGURADORA S A                ',
 '     33.164.021 0001-00                         ',
 '     CODIGO TED: T505748685                     ',
 '1103 1435968CRÉD.TED-STR                 217,81C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T505833955                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '1103 1436074CRÉD.TED-STR                 127,94C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T505857028                     ',
 '            SALDO DO DIA =====>       10.475,28C',
 '1203 1436985CRÉD.TED-STR                 325,05C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T506053801                     ',
 '1203 1438015CRÉD.TED-STR               1.306,52C',
 '     SUHAI SEGURADORA S A                       ',
 '     16.825.255 0001-23                         ',
 '     CODIGO TED: T506273874                     ',
 '1203 931612 DEB.EMI.TED DIF.TIT        1.115,40D',
 '     Arthur omena Ribeiro                       ',
 '     Pro labore + transporte                    ',
 '1203 188    TED INTERNET                   6,00D',
 '            SALDO DO DIA =====>       10.985,45C',
 '1303 1438120CRÉD.TED-STR                 128,44C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T506301763                     ',
 '1303 931961 DÉB.CNV.EN.ELET.GAS          271,97D',
 '     Luz                                        ',
 '     Luz                                        ',
 '1303 932082 DÉB.TIT.COMPE.EFETI           98,55D',
 '     Rc                                         ',
 '1303 932085 DEB.TR.CT.DIF.TIT.         1.045,00D',
 '     FAV.: ERALDO OMENA RIBEIRO                 ',
 '     Prolabore                                  ',
 '1303 932088 DEB.EMI.TED DIF.TIT        1.045,00D',
 '     Bruno Omena Ribeiro                        ',
 '     Prolabore                                  ',
 '1303 1438953CRÉD.TED-STR                 152,16C',
 '     LIBERTY SEGUROS S.A.                       ',
 '     61.550.141 0001-72                         ',
 '     CODIGO TED: T506465431                     ',
 '1303 188    TED INTERNET                   6,00D',
 '            SALDO DO DIA =====>        8.799,53C',
 '1603 1439682CRÉD.TED-STR                  75,36C',
 '     PORTO SEGURO CIA SEG GERAIS                ',
 '     61.198.164 0001-60                         ',
 '     CODIGO TED: T506642399                     ',
 '1603 933047 DÉB.TIT.COMPE.EFETI          927,49D',
 '     Intermedica                                ',
 '1603 1440863CRÉD.TED-STR                 374,72C',
 '     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '     33.448.150 0001-11                         ',
 '     CODIGO TED: T506873919                     ',
 '1603 011458 CRED.DOC                   1.275,00C',
 '     REM.: PORTO SEGURO LOCADORA DE VEICU       ',
 '            SALDO DO DIA =====>        9.597,12C',
 '1703 1442021CRÉD.TED-STR                 395,91C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T507119034                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '1703 558724 COMP MASTER MAESTRO           13,00D',
 '     GIVALDO MANOEL DE ARAU Sao Paulo BRA       ',
 '            SALDO DO DIA =====>        9.980,03C',
 '1803 1443275CRÉD.TED-STR                 779,25C',
 '     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '     33.041.062 0001-09                         ',
 '     CODIGO TED: T507384257                     ',
 '     TRANSFERENCIA ENTRE CONTAS                 ',
 '            SALDO DO DIA =====>       10.759,28C',
 '-------------------- RESUMO --------------------',
 'SALDO EM C.CORRENTE....(+):           10.759,28C',
 'SALDO EM C.INVESTIMENTO(+):                0,00C',
 'LIMITE CONTA GARANTIDA.(+):                0,00C',
 'SALDO DISPONÍVEL.......(=):           10.759,28C',
 'SALDO BLOQ.C.CORRENTE.....:                0,00*',
 'SALDO BLOQ.C.INVESTIMENTO.:                0,00*',
 'VENCTO CONTA GARANTIDA....:                     ',
 'TAXA CONTA GARANTIDA(a.m.):                4,50%',
 'PREVISÃO CPMF.............:                0,00D',
 'PREVISÃO IOF..............:                0,00D',
 'PREVISÃO ENCARGOS.........:                0,00D',
 'PREVISÃO TARIFAS..........:                0,00D',
 '------- SALDO DE APLICAÇÕES EM 17/03/2020-------',
 'RDC - Longo CDI                       30.083,77C',
 '----- 000 EXTRATOS EMITIDOS ATÉ 16/03/2020 -----',
 'OUVIDORIA SICOOB: 08007250996                   ',
 '']

In [11]:
descricao_deb

['     Arthur omena Ribeiro                       ',
 '     Bruno Omena Ribeiro                        ',
 '     Internet                                   ',
 '     Arthur omena Ribeiro                       ',
 '     VAZIO',
 '     GIVALDO MANOEL DE ARAU Sao Paulo BRA       ',
 '     Claro                                      ',
 '     Claro                                      ',
 '     Claro                                      ',
 '     Fechamento empresa                         ',
 '     VAZIO',
 '     Iss                                        ',
 '     Contador                                   ',
 '     Alarme                                     ',
 '     Arthur omena Ribeiro                       ',
 '     VAZIO',
 '     Luz                                        ',
 '     Rc                                         ',
 '     FAV.: ERALDO OMENA RIBEIRO                 ',
 '     Bruno Omena Ribeiro                        ',
 '     VAZIO',
 '     Intermedica                                ',
 '     GIVALDO MANOEL DE ARAU Sao Paulo BRA       ',
 'PREVISÃO IOF..............:                0,00D',
 'PREVISÃO ENCARGOS.........:                0,00D',
 'PREVISÃO TARIFAS..........:                0,00D',
 '------- SALDO DE APLICAÇÕES EM 17/03/2020-------']

In [12]:
debitos

['0203 922191 DEB.EMI.TED DIF.TIT        1.762,92D',
 '0203 922194 DEB.EMI.TED DIF.TIT        1.762,92D',
 '0203 922860 DÉB.CONV.TELECOMUN.          144,49D',
 '0203 922868 DEB.EMI.TED DIF.TIT           35,20D',
 '0203 188    TED INTERNET                  18,00D',
 '0403 955428 COMP MASTER MAESTRO           39,00D',
 '0503 925190 DÉB.CONV.TELECOMUN.           66,39D',
 '0503 925192 DÉB.CONV.TELECOMUN.           64,99D',
 '0503 925193 DÉB.CONV.TELECOMUN.           66,39D',
 '0503 925906 DÉB.TIT.COMPE.EFETI          500,00D',
 '0903 2079   DEB.PARC.SUBS/INTEG           10,00D',
 '1003 929404 DÉB.CONV.PREFEITURA            5,67D',
 '1003 929406 DÉB.TIT.COMPE.EFETI          260,00D',
 '1003 929893 DÉB.TIT.COMPE.EFETI          264,65D',
 '1203 931612 DEB.EMI.TED DIF.TIT        1.115,40D',
 '1203 188    TED INTERNET                   6,00D',
 '1303 931961 DÉB.CNV.EN.ELET.GAS          271,97D',
 '1303 932082 DÉB.TIT.COMPE.EFETI           98,55D',
 '1303 932085 DEB.TR.CT.DIF.TIT.         1.045,00D',
 '1303 932088 DEB.EMI.TED DIF.TIT        1.045,00D',
 '1303 188    TED INTERNET                   6,00D',
 '1603 933047 DÉB.TIT.COMPE.EFETI          927,49D',
 '1703 558724 COMP MASTER MAESTRO           13,00D',
 'PREVISÃO CPMF.............:                0,00D',
 'PREVISÃO IOF..............:                0,00D',
 'PREVISÃO ENCARGOS.........:                0,00D',
 'PREVISÃO TARIFAS..........:                0,00D']

# Trabalhando créditos

In [13]:
#Agrupando cada crédito com sua respectiva seguradora
cred_e_seg = []
contador = 0
for i in range(len(creditos)):
    cred_e_seg.append(creditos[i] + seguradoras[i])

In [14]:
cred_e_seg

['28/02/2020  SALDO ANTERIOR             8.224,11C28/02/2020  SALDO BLOQ.ANTERIOR            0,00*',
 '0203 1423507CRÉD.TED-STR                 221,26C     TOKIO MARINE SEGURADORA S A                ',
 '0203 1424042CRÉD.TED-STR                 219,08C     LIBERTY SEGUROS S.A.                       ',
 '0203 1424348CRÉD.TED-STR                 392,42C     MAPFRE SEGUROS GERAIS S.A.                 ',
 '0303 1425231CRÉD.TED-STR                 172,90C     TOKIO MARINE SEGURADORA S A                ',
 '0303 1425545CRÉD.TED-STR                 261,89C     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '0303 1425680CRÉD.TED-STR                 221,24C     LIBERTY SEGUROS S.A.                       ',
 '0303 1425737CRÉD.TED-STR               1.296,13C     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '0303 1426058CRÉD.TED-STR                 391,26C     BRADESCO AUTO RE CIA    SEGUROS            ',
 '0403 1427155CRÉD.TED-STR               1.301,31C     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '0503 1428495CRÉD.TED-STR                 180,80C     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '0503 1428655CRÉD.TED-STR                 275,18C     LIBERTY SEGUROS S.A.                       ',
 '0503 1428821CRÉD.TED-STR                 718,49C     SUHAI SEGURADORA S A                       ',
 '0503 1429311CRÉD.TED-STR                  86,24C     PORTO SEGURO CIA SEG GERAIS                ',
 '0603 1430348CRÉD.TED-STR                 441,81C     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '0603 1430668CRÉD.TED-STR                  77,07C     PORTO SEGURO CIA SEG GERAIS                ',
 '0903 1432544CRÉD.TED-STR                 404,96C     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '1003 1434217CRÉD.TED-STR                 108,35C     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '1103 1435562CRÉD.TED-STR                 135,65C     TOKIO MARINE SEGURADORA S A                ',
 '1103 1435968CRÉD.TED-STR                 217,81C     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '1103 1436074CRÉD.TED-STR                 127,94C     LIBERTY SEGUROS S.A.                       ',
 '1203 1436985CRÉD.TED-STR                 325,05C     PORTO SEGURO CIA SEG GERAIS                ',
 '1203 1438015CRÉD.TED-STR               1.306,52C     SUHAI SEGURADORA S A                       ',
 '1303 1438120CRÉD.TED-STR                 128,44C     PORTO SEGURO CIA SEG GERAIS                ',
 '1303 1438953CRÉD.TED-STR                 152,16C     LIBERTY SEGUROS S.A.                       ',
 '1603 1439682CRÉD.TED-STR                  75,36C     PORTO SEGURO CIA SEG GERAIS                ',
 '1603 1440863CRÉD.TED-STR                 374,72C     AZUL COMPANHIA DE SEGUROS GERAIS           ',
 '1603 011458 CRED.DOC                   1.275,00C     REM.: PORTO SEGURO LOCADORA DE VEICU       ',
 '1703 1442021CRÉD.TED-STR                 395,91C     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 '1803 1443275CRÉD.TED-STR                 779,25C     SUL AMERICA COMPANHIA NACIONAL DE SEGURO   ',
 'SALDO EM C.CORRENTE....(+):           10.759,28CSALDO EM C.INVESTIMENTO(+):                0,00C',
 'SALDO EM C.INVESTIMENTO(+):                0,00CLIMITE CONTA GARANTIDA.(+):                0,00C',
 'LIMITE CONTA GARANTIDA.(+):                0,00CSALDO DISPONÍVEL.......(=):           10.759,28C',
 'SALDO DISPONÍVEL.......(=):           10.759,28CSALDO BLOQ.C.CORRENTE.....:                0,00*',
 'RDC - Longo CDI                       30.083,77C----- 000 EXTRATOS EMITIDOS ATÉ 16/03/2020 -----']

In [15]:
#Separando por seguradoras
porto = []
sulamerica = []
mapfre = []
azul=[]
suhai = []
tokio=[]
bradesco = []
liberty = []
hdi = []
ituran =[]
sompo = []

for i in cred_e_seg:
    if 'PORTO' in i:
        porto.append(i)
    if 'SUL AMERICA' in i:
        sulamerica.append(i)
    if 'MAPFRE' in i:
        mapfre.append(i)
    if 'AZUL' in i:
        azul.append(i)
    if 'SUHAI' in i:
        suhai.append(i)
    if 'TOKIO' in i:
        tokio.append(i)
    if 'BRADESCO' in i:
        bradesco.append(i)
    if 'LIBERTY' in i:
        liberty.append(i)
    if 'HDI' in i:
        hdi.append(i)
    if 'ITURAN' in i:
        ituran.append(i)
    if 'SOMPO' in i:
        sompo.append(i)

In [16]:
ituran

[]

In [17]:
#Juntando todos em lista unica
lista_seguradoras = [porto, sulamerica,mapfre,azul,suhai,tokio,bradesco,liberty,hdi,ituran,sompo]

In [18]:
#Separando conteudo de cada transação
listagem = []
for j in lista_seguradoras:
    for i in j:
        listagem.append(i.split(sep = '     '))

In [19]:
listagem

[['0503 1429311CRÉD.TED-STR',
  '',
  '',
  '   86,24C',
  'PORTO SEGURO CIA SEG GERAIS',
  '',
  '',
  ' '],
 ['0603 1430668CRÉD.TED-STR',
  '',
  '',
  '   77,07C',
  'PORTO SEGURO CIA SEG GERAIS',
  '',
  '',
  ' '],
 ['1203 1436985CRÉD.TED-STR',
  '',
  '',
  '  325,05C',
  'PORTO SEGURO CIA SEG GERAIS',
  '',
  '',
  ' '],
 ['1303 1438120CRÉD.TED-STR',
  '',
  '',
  '  128,44C',
  'PORTO SEGURO CIA SEG GERAIS',
  '',
  '',
  ' '],
 ['1603 1439682CRÉD.TED-STR',
  '',
  '',
  '   75,36C',
  'PORTO SEGURO CIA SEG GERAIS',
  '',
  '',
  ' '],
 ['1603 011458 CRED.DOC',
  '',
  '',
  '    1.275,00C',
  'REM.: PORTO SEGURO LOCADORA DE VEICU',
  '  '],
 ['0303 1425545CRÉD.TED-STR',
  '',
  '',
  '  261,89C',
  'SUL AMERICA COMPANHIA NACIONAL DE SEGURO   '],
 ['0503 1428495CRÉD.TED-STR',
  '',
  '',
  '  180,80C',
  'SUL AMERICA COMPANHIA NACIONAL DE SEGURO   '],
 ['0603 1430348CRÉD.TED-STR',
  '',
  '',
  '  441,81C',
  'SUL AMERICA COMPANHIA NACIONAL DE SEGURO   '],
 ['1003 1434217CRÉD.TED-STR',
  '',
  '',
  '  108,35C',
  'SUL AMERICA COMPANHIA NACIONAL DE SEGURO   '],
 ['1103 1435968CRÉD.TED-STR',
  '',
  '',
  '  217,81C',
  'SUL AMERICA COMPANHIA NACIONAL DE SEGURO   '],
 ['1703 1442021CRÉD.TED-STR',
  '',
  '',
  '  395,91C',
  'SUL AMERICA COMPANHIA NACIONAL DE SEGURO   '],
 ['1803 1443275CRÉD.TED-STR',
  '',
  '',
  '  779,25C',
  'SUL AMERICA COMPANHIA NACIONAL DE SEGURO   '],
 ['0203 1424348CRÉD.TED-STR',
  '',
  '',
  '  392,42C',
  'MAPFRE SEGUROS GERAIS S.A.',
  '',
  '',
  '  '],
 ['0303 1425737CRÉD.TED-STR',
  '',
  '',
  '1.296,13C',
  'AZUL COMPANHIA DE SEGUROS GERAIS',
  '',
  ' '],
 ['0403 1427155CRÉD.TED-STR',
  '',
  '',
  '1.301,31C',
  'AZUL COMPANHIA DE SEGUROS GERAIS',
  '',
  ' '],
 ['0903 1432544CRÉD.TED-STR',
  '',
  '',
  '  404,96C',
  'AZUL COMPANHIA DE SEGUROS GERAIS',
  '',
  ' '],
 ['1603 1440863CRÉD.TED-STR',
  '',
  '',
  '  374,72C',
  'AZUL COMPANHIA DE SEGUROS GERAIS',
  '',
  ' '],
 ['0503 1428821CRÉD.TED-STR',
  '',
  '',
  '  718,49C',
  'SUHAI SEGURADORA S A',
  '',
  '',
  '',
  '   '],
 ['1203 1438015CRÉD.TED-STR',
  '',
  '',
  '1.306,52C',
  'SUHAI SEGURADORA S A',
  '',
  '',
  '',
  '   '],
 ['0203 1423507CRÉD.TED-STR',
  '',
  '',
  '  221,26C',
  'TOKIO MARINE SEGURADORA S A',
  '',
  '',
  ' '],
 ['0303 1425231CRÉD.TED-STR',
  '',
  '',
  '  172,90C',
  'TOKIO MARINE SEGURADORA S A',
  '',
  '',
  ' '],
 ['1103 1435562CRÉD.TED-STR',
  '',
  '',
  '  135,65C',
  'TOKIO MARINE SEGURADORA S A',
  '',
  '',
  ' '],
 ['0303 1426058CRÉD.TED-STR',
  '',
  '',
  '  391,26C',
  'BRADESCO AUTO RE CIA    SEGUROS',
  '',
  '  '],
 ['0203 1424042CRÉD.TED-STR',
  '',
  '',
  '  219,08C',
  'LIBERTY SEGUROS S.A.',
  '',
  '',
  '',
  '   '],
 ['0303 1425680CRÉD.TED-STR',
  '',
  '',
  '  221,24C',
  'LIBERTY SEGUROS S.A.',
  '',
  '',
  '',
  '   '],
 ['0503 1428655CRÉD.TED-STR',
  '',
  '',
  '  275,18C',
  'LIBERTY SEGUROS S.A.',
  '',
  '',
  '',
  '   '],
 ['1103 1436074CRÉD.TED-STR',
  '',
  '',
  '  127,94C',
  'LIBERTY SEGUROS S.A.',
  '',
  '',
  '',
  '   '],
 ['1303 1438953CRÉD.TED-STR',
  '',
  '',
  '  152,16C',
  'LIBERTY SEGUROS S.A.',
  '',
  '',
  '',
  '   ']]

In [20]:
#Transformando em DF
df = pd.DataFrame(listagem)

In [21]:
#Criando coluna com a data da transação
for i in range(len(df[0])):
    df[0][i] = (df[0][i][:2])

In [22]:
df

,0,1,2,3,4,5,6,7,8
0,05,,,"86,24C",PORTO SEGURO CIA SEG GERAIS,,,,None
1,06,,,"77,07C",PORTO SEGURO CIA SEG GERAIS,,,,None
2,12,,,"325,05C",PORTO SEGURO CIA SEG GERAIS,,,,None
3,13,,,"128,44C",PORTO SEGURO CIA SEG GERAIS,,,,None
4,16,,,"75,36C",PORTO SEGURO CIA SEG GERAIS,,,,None
5,16,,,"1.275,00C",REM.: PORTO SEGURO LOCADORA DE VEICU,,None,None,None
6,03,,,"261,89C",SUL AMERICA COMPANHIA NACIONAL DE SEGURO,None,None,None,None
7,05,,,"180,80C",SUL AMERICA COMPANHIA NACIONAL DE SEGURO,None,None,None,None
8,06,,,"441,81C",SUL AMERICA COMPANHIA NACIONAL DE SEGURO,None,None,None,None
9,10,,,"108,35C",SUL AMERICA COMPANHIA NACIONAL DE SEGURO,None,None,None,None
10,11,,,"217,81C",SUL AMERICA COMPANHIA NACIONAL DE SEGURO,None,None,None,None
11,17,,,"395,91C",SUL AMERICA COMPANHIA NACIONAL DE SEGURO,None,None,None,None
12,18,,,"779,25C",SUL AMERICA COMPANHIA NACIONAL DE SEGURO,None,None,None,None
13,02,,,"392,42C",MAPFRE SEGUROS GERAIS S.A.,,,,None
14,03,,,"1.296,13C",AZUL COMPANHIA DE SEGUROS GERAIS,,,None,None
15,04,,,"1.301,31C",AZUL COMPANHIA DE SEGUROS GERAIS,,,None,None
16,09,,,"404,96C",AZUL COMPANHIA DE SEGUROS GERAIS,,,None,None
17,16,,,"374,72C",AZUL COMPANHIA DE SEGUROS GERAIS,,,None,None
18,05,,,"718,49C",SUHAI SEGURADORA S A,,,,
19,12,,,"1.306,52C",SUHAI SEGURADORA S A,,,,
20,02,,,"221,26C",TOKIO MARINE SEGURADORA S A,,,,None
21,03,,,"172,90C",TOKIO MARINE SEGURADORA S A,,,,None
22,11,,,"135,65C",TOKIO MARINE SEGURADORA S A,,,,None
23,03,,,"391,26C",BRADESCO AUTO RE CIA SEGUROS,,,None,None
24,02,,,"219,08C",LIBERTY SEGUROS S.A.,,,,
25,03,,,"221,24C",LIBERTY SEGUROS S.A.,,,,
26,05,,,"275,18C",LIBERTY SEGUROS S.A.,,,,
27,11,,,"127,94C",LIBERTY SEGUROS S.A.,,,,
28,13,,,"152,16C",LIBERTY SEGUROS S.A.,,,,

In [23]:
#Dropando colunas desnecessárias
df.drop(columns = [1,2,5,6,7,8], inplace=True)

In [24]:
df

     0              3                                            4
0   05         86,24C                  PORTO SEGURO CIA SEG GERAIS
1   06         77,07C                  PORTO SEGURO CIA SEG GERAIS
2   12        325,05C                  PORTO SEGURO CIA SEG GERAIS
3   13        128,44C                  PORTO SEGURO CIA SEG GERAIS
4   16         75,36C                  PORTO SEGURO CIA SEG GERAIS
5   16      1.275,00C         REM.: PORTO SEGURO LOCADORA DE VEICU
6   03        261,89C  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
7   05        180,80C  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
8   06        441,81C  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
9   10        108,35C  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
10  11        217,81C  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
11  17        395,91C  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
12  18        779,25C  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
13  02        392,42C                   MAPFRE SEGUROS GERAIS S.A.
14  03      1.296,13C             AZUL COMPANHIA DE SEGUROS GERAIS
15  04      1.301,31C             AZUL COMPANHIA DE SEGUROS GERAIS
16  09        404,96C             AZUL COMPANHIA DE SEGUROS GERAIS
17  16        374,72C             AZUL COMPANHIA DE SEGUROS GERAIS
18  05        718,49C                         SUHAI SEGURADORA S A
19  12      1.306,52C                         SUHAI SEGURADORA S A
20  02        221,26C                  TOKIO MARINE SEGURADORA S A
21  03        172,90C                  TOKIO MARINE SEGURADORA S A
22  11        135,65C                  TOKIO MARINE SEGURADORA S A
23  03        391,26C              BRADESCO AUTO RE CIA    SEGUROS
24  02        219,08C                         LIBERTY SEGUROS S.A.
25  03        221,24C                         LIBERTY SEGUROS S.A.
26  05        275,18C                         LIBERTY SEGUROS S.A.
27  11        127,94C                         LIBERTY SEGUROS S.A.
28  13        152,16C                         LIBERTY SEGUROS S.A.

In [25]:
df[3][5]#[:8]

'    1.275,00C'

In [26]:
#Removando o "C" do final dos valores 
for i in range(len(df[3])):
    df[3][i] = (df[3][i][:8])

In [27]:
df

     0         3                                            4
0   05     86,24                  PORTO SEGURO CIA SEG GERAIS
1   06     77,07                  PORTO SEGURO CIA SEG GERAIS
2   12    325,05                  PORTO SEGURO CIA SEG GERAIS
3   13    128,44                  PORTO SEGURO CIA SEG GERAIS
4   16     75,36                  PORTO SEGURO CIA SEG GERAIS
5   16      1.27         REM.: PORTO SEGURO LOCADORA DE VEICU
6   03    261,89  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
7   05    180,80  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
8   06    441,81  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
9   10    108,35  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
10  11    217,81  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
11  17    395,91  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
12  18    779,25  SUL AMERICA COMPANHIA NACIONAL DE SEGURO
13  02    392,42                   MAPFRE SEGUROS GERAIS S.A.
14  03  1.296,13             AZUL COMPANHIA DE SEGUROS GERAIS
15  04  1.301,31             AZUL COMPANHIA DE SEGUROS GERAIS
16  09    404,96             AZUL COMPANHIA DE SEGUROS GERAIS
17  16    374,72             AZUL COMPANHIA DE SEGUROS GERAIS
18  05    718,49                         SUHAI SEGURADORA S A
19  12  1.306,52                         SUHAI SEGURADORA S A
20  02    221,26                  TOKIO MARINE SEGURADORA S A
21  03    172,90                  TOKIO MARINE SEGURADORA S A
22  11    135,65                  TOKIO MARINE SEGURADORA S A
23  03    391,26              BRADESCO AUTO RE CIA    SEGUROS
24  02    219,08                         LIBERTY SEGUROS S.A.
25  03    221,24                         LIBERTY SEGUROS S.A.
26  05    275,18                         LIBERTY SEGUROS S.A.
27  11    127,94                         LIBERTY SEGUROS S.A.
28  13    152,16                         LIBERTY SEGUROS S.A.

In [28]:
df.to_csv('creditos.csv')

# Trabalhando débitos

In [29]:
debitos

['0203 922191 DEB.EMI.TED DIF.TIT        1.762,92D',
 '0203 922194 DEB.EMI.TED DIF.TIT        1.762,92D',
 '0203 922860 DÉB.CONV.TELECOMUN.          144,49D',
 '0203 922868 DEB.EMI.TED DIF.TIT           35,20D',
 '0203 188    TED INTERNET                  18,00D',
 '0403 955428 COMP MASTER MAESTRO           39,00D',
 '0503 925190 DÉB.CONV.TELECOMUN.           66,39D',
 '0503 925192 DÉB.CONV.TELECOMUN.           64,99D',
 '0503 925193 DÉB.CONV.TELECOMUN.           66,39D',
 '0503 925906 DÉB.TIT.COMPE.EFETI          500,00D',
 '0903 2079   DEB.PARC.SUBS/INTEG           10,00D',
 '1003 929404 DÉB.CONV.PREFEITURA            5,67D',
 '1003 929406 DÉB.TIT.COMPE.EFETI          260,00D',
 '1003 929893 DÉB.TIT.COMPE.EFETI          264,65D',
 '1203 931612 DEB.EMI.TED DIF.TIT        1.115,40D',
 '1203 188    TED INTERNET                   6,00D',
 '1303 931961 DÉB.CNV.EN.ELET.GAS          271,97D',
 '1303 932082 DÉB.TIT.COMPE.EFETI           98,55D',
 '1303 932085 DEB.TR.CT.DIF.TIT.         1.045,00D',
 '1303 932088 DEB.EMI.TED DIF.TIT        1.045,00D',
 '1303 188    TED INTERNET                   6,00D',
 '1603 933047 DÉB.TIT.COMPE.EFETI          927,49D',
 '1703 558724 COMP MASTER MAESTRO           13,00D',
 'PREVISÃO CPMF.............:                0,00D',
 'PREVISÃO IOF..............:                0,00D',
 'PREVISÃO ENCARGOS.........:                0,00D',
 'PREVISÃO TARIFAS..........:                0,00D']

In [30]:
dia = []

for i in debitos:
    if 'PREVISÃO' in i:
        break
    
    cell = i[0] + i[1]
    
    dia.append(cell)

In [31]:
descricao_lista = []

num = 12
for i in debitos:
    if 'PREVISÃO' in i:
        break
    cell = i[12]+i[13]+i[14]+i[15]+i[16]+i[17]+i[18]+i[19]+i[20]+i[21]+i[22]+i[23]+i[24]+i[25]+i[26]+i[27]+i[28]+i[29]+i[30]
    
    descricao_lista.append(cell)

In [32]:
desc_deb = []

for i in descricao_deb:
    if ('PREVISÃO' in i):
        break
    desc_deb.append(i)

In [33]:
valor = []

for i in debitos:
    if 'PREVISÃO' in i:
        break
    cell = ""
    cell = i[len(i)-9] + i[len(i)-8] + i[len(i)-7] + i[len(i)-6] + i[len(i)-5] + i[len(i)-4] + i[len(i)-3] + i[len(i)-2]
    
    valor.append(cell)

In [34]:
#tira os Debitos duplicados na descricao
desc_deb2 = []

for i in desc_deb:
    if (i.endswith('D')==True):
        i = i[:i.rfind("D")-5]
    desc_deb2.append(i)

In [35]:
debituuu = pd.DataFrame()

In [36]:
debituuu["dia"] = dia
debituuu["descricao"] = descricao_lista
debituuu["descricao2"] = desc_deb2
debituuu["valor"] = valor

In [37]:
debituuu

,dia,descricao,descricao2,valor
0,02,DEB.EMI.TED DIF.TIT,Arthur omena Ribeiro,"1.762,92"
1,02,DEB.EMI.TED DIF.TIT,Bruno Omena Ribeiro,"1.762,92"
2,02,DÉB.CONV.TELECOMUN.,Internet,"144,49"
3,02,DEB.EMI.TED DIF.TIT,Arthur omena Ribeiro,"35,20"
4,02,TED INTERNET,VAZIO,"18,00"
5,04,COMP MASTER MAESTRO,GIVALDO MANOEL DE ARAU Sao Paulo BRA,"39,00"
6,05,DÉB.CONV.TELECOMUN.,Claro,"66,39"
7,05,DÉB.CONV.TELECOMUN.,Claro,"64,99"
8,05,DÉB.CONV.TELECOMUN.,Claro,"66,39"
9,05,DÉB.TIT.COMPE.EFETI,Fechamento empresa,"500,00"
10,09,DEB.PARC.SUBS/INTEG,VAZIO,"10,00"
11,10,DÉB.CONV.PREFEITURA,Iss,"5,67"
12,10,DÉB.TIT.COMPE.EFETI,Contador,"260,00"
13,10,DÉB.TIT.COMPE.EFETI,Alarme,"264,65"
14,12,DEB.EMI.TED DIF.TIT,Arthur omena Ribeiro,"1.115,40"
15,12,TED INTERNET,VAZIO,"6,00"
16,13,DÉB.CNV.EN.ELET.GAS,Luz,"271,97"
17,13,DÉB.TIT.COMPE.EFETI,Rc,"98,55"
18,13,DEB.TR.CT.DIF.TIT.,FAV.: ERALDO OMENA RIBEIRO,"1.045,00"
19,13,DEB.EMI.TED DIF.TIT,Bruno Omena Ribeiro,"1.045,00"
20,13,TED INTERNET,VAZIO,"6,00"
21,16,DÉB.TIT.COMPE.EFETI,Intermedica,"927,49"
22,17,COMP MASTER MAESTRO,GIVALDO MANOEL DE ARAU Sao Paulo BRA,"13,00"

In [38]:
debitos

['0203 922191 DEB.EMI.TED DIF.TIT        1.762,92D',
 '0203 922194 DEB.EMI.TED DIF.TIT        1.762,92D',
 '0203 922860 DÉB.CONV.TELECOMUN.          144,49D',
 '0203 922868 DEB.EMI.TED DIF.TIT           35,20D',
 '0203 188    TED INTERNET                  18,00D',
 '0403 955428 COMP MASTER MAESTRO           39,00D',
 '0503 925190 DÉB.CONV.TELECOMUN.           66,39D',
 '0503 925192 DÉB.CONV.TELECOMUN.           64,99D',
 '0503 925193 DÉB.CONV.TELECOMUN.           66,39D',
 '0503 925906 DÉB.TIT.COMPE.EFETI          500,00D',
 '0903 2079   DEB.PARC.SUBS/INTEG           10,00D',
 '1003 929404 DÉB.CONV.PREFEITURA            5,67D',
 '1003 929406 DÉB.TIT.COMPE.EFETI          260,00D',
 '1003 929893 DÉB.TIT.COMPE.EFETI          264,65D',
 '1203 931612 DEB.EMI.TED DIF.TIT        1.115,40D',
 '1203 188    TED INTERNET                   6,00D',
 '1303 931961 DÉB.CNV.EN.ELET.GAS          271,97D',
 '1303 932082 DÉB.TIT.COMPE.EFETI           98,55D',
 '1303 932085 DEB.TR.CT.DIF.TIT.         1.045,00D',
 '1303 932088 DEB.EMI.TED DIF.TIT        1.045,00D',
 '1303 188    TED INTERNET                   6,00D',
 '1603 933047 DÉB.TIT.COMPE.EFETI          927,49D',
 '1703 558724 COMP MASTER MAESTRO           13,00D',
 'PREVISÃO CPMF.............:                0,00D',
 'PREVISÃO IOF..............:                0,00D',
 'PREVISÃO ENCARGOS.........:                0,00D',
 'PREVISÃO TARIFAS..........:                0,00D']

In [39]:
debituuu.to_csv('debitos.csv')

In [40]:
debituuu.valor.sum(axis=0)

'1.762,921.762,92  144,49   35,20   18,00   39,00   66,39   64,99   66,39  500,00   10,00    5,67  260,00  264,651.115,40    6,00  271,97   98,551.045,001.045,00    6,00  927,49   13,00'