In [1]:
import pandas as pd

In [2]:
txt = open("extrato (5).rtf",newline = '\r').read()

In [3]:
#Formatando as linhas
txt = (txt.split(sep = '\n'))

In [4]:
df = pd.DataFrame()
df['col'] = txt

In [5]:
#Separando creditos e debitos
credits, debits, credits_desc, debits_desc = [],[],[],[]

for i in range(len(df)-1):
    
    if df.col[i][-1] == 'C' and 'SALDO DO DIA' not in df.col[i]:
        credits.append(df.col[i])
        credits_desc.append(df.col[i+1])
    elif df.col[i][-1] == 'D':
        debits.append(df.col[i])
        debits_desc.append(df.col[i+1])

In [6]:
#Criando dataframe para armazenar creditos e suas descrições
df_cred = pd.DataFrame()
df_cred['cred'] = credits
df_cred['cred_desc'] =credits_desc

In [7]:
#separando valores e datas e criando novas colunas para cada
data,valor = [],[]
for i in range(len(df_cred)):
    data.append(df_cred.cred[i].rsplit()[0])
    valor.append(df_cred.cred[i].rsplit()[2])
    
df_cred['data'] = data
df_cred['valor'] = valor
df_cred.drop(['cred'], axis =1, inplace = True)

In [8]:
#Limpando rows indesejadas
df_cred = df_cred[df_cred.data != 'SALDO']
df_cred = df_cred[df_cred.data != 'LIMITE']
df_cred = df_cred[df_cred.data != 'RDC']
df_cred = df_cred[df_cred.valor != 'ANTERIOR']

In [9]:
#Formatando campo "valor"
df_cred['valor'] = df_cred['valor'].str.replace('C','')
df_cred['valor'] = df_cred['valor'].str.replace(',','.')
df_cred = df_cred[['data','cred_desc','valor']]

In [10]:
df_cred.to_excel('creditos_new.xlsx', index=False)

In [11]:
df_cred

    data                                         cred_desc     valor
1   0505       PORTO SEGURO CIA SEG GERAIS                    102.44
2   0505       BRADESCO AUTO RE CIA    SEGUROS                476.96
3   0505       AZUL COMPANHIA DE SEGUROS GERAIS               989.72
4   0605       SUL AMERICA PARTICIPACOES E INVESTIMENTO     1.197.08
5   0605       AZUL COMPANHIA DE SEGUROS GERAIS               263.36
6   0705       PORTO SEGURO CIA SEG GERAIS                     55.46
7   0705       LIBERTY SEGUROS S.A.                           171.19
8   0705       SUHAI SEGURADORA S A                           654.19
9   0805       SUL AMERICA PARTICIPACOES E INVESTIMENTO       185.01
10  0805       MAPFRE SEGUROS GERAIS S.A.                     149.62
11  0805       PORTO SEGURO CIA SEG GERAIS                  1.690.84
12  1105       LIBERTY SEGUROS S.A.                           128.01
13  1105       AZUL COMPANHIA DE SEGUROS GERAIS               892.07
14  1305       SUL AMERICA SEGUROS DE AUTOMOVEIS E MASS       326.34
15  1305       AZUL COMPANHIA DE SEGUROS GERAIS               448.92